.card-pokemom{
    display:flex;
    flex-direction: column;
    border: 1px solid grey;
    background-color: rgb(138, 167, 167);
    width:300px;
    padding: 20px;
}
img{
    margin:10px
}
button{
    height: 50px;
    width: 50%;
}